/*
 Theme Name: Bluestreet
 Theme URI: https://webriti.com/bluestreet-child-version-details-page/
 Author: webriti
 Author URI: https://www.webriti.com
 Description: BlueStreet is a Business WordPress Theme that contains a lot of features for customizing your website as you need. Since, this theme is the child theme of WallStreet WordPress Theme, so, you can make use of all the features that are present in the parent theme itself. Already thousands of users loving this theme because it is designed for multiple businesses like corporates, firms, law firms, digital media agency, architecture firm, personal, portfolio and freelancer's website. There is no separate pro version of BlueStreet Theme, you will get all the functionality in the premium version of WallStreet Theme. In the premium version you will get 2 color skins Lite and Dark, 10 predefined color schemes, feature for creating your custom color scheme, an eye-catching Slider, Services, Testimonial’s, Portfolio, Clients/ Sponsors, Blog Layouts, Layout Manager and Latest News. You will find various page templates  like About, Service, Portfolio, Blog and Contact Us. The theme has supports for popular plugins like WPML, Polylang and JetPack Gallery Extensions. Just navigate to Appearance / Customize to start customizing. Both the lite and premium version of WallStreet theme comes with various locales. Check premium version theme demo at http://webriti.com/demo/wp/wallstreet
 Template: wallstreet
 Version: 1.6
 Requires at least: 4.5
 Tested up to: 6.0
 Requires PHP: 5.4
 Tags: full-width-template, threaded-comments, right-sidebar, one-column, two-columns, custom-menu, sticky-post, translation-ready, featured-images, blog, footer-widgets
 License: GPLv2 or later
 License URI: http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain: bluestreet
 */

 /*Homepage Header-variation navbar3----------------------------------------------*/
.navbar.navbar3 {min-height: auto;}
.navbar-wrapper {
  position: absolute;
  right: 0;
  left: 0;
  margin-top: 0px;
  z-index: 20;
}
.stickymenu1{
 display: none;
 position: fixed !important;
 top: 0;
 width: 100%;
 box-shadow: 0 1px 3px rgba(0,0,0,0.1);
 z-index: 999;
 background-color: rgb(0,0,0,0.9) !important;
}
.navbar-header.index3 { text-align: center; float: none; padding: 17px 15px 17px 15px;}
.navbar-header.index3 .navbar-brand {
    display: inline-block;
    float: none;
    margin-right: 0;
    padding: 7px 0px 20px;
}
@media only screen and (max-width: 1100px) and (min-width: 200px){
  .navbar3 .navbar-toggle { float: none; margin: 12px auto;display: block; }
  .navbar3 .navbar-nav {  width: 100%; margin: 0;}
  .navbar3 .navbar .navbar-right { float: left !important;}
  .navbar3 .header-module { text-align: center;}
  .navbar3 .navbar-brand img { margin: 0 auto; text-align: center; margin-top: 24px; }
  .navbar3 .navbar-brand { float: none; }
  .navbar3 .cart-header { margin-right: 40px;}
  .navbar3.navbar-inverse {
    background-color: rgb(0, 0, 0,0.6) !important;
    position: absolute;
  }
  .navbar3 .header-module {
    float: none;
    position: relative;
    display: inline-block;
    width: 100%;
  }
}

@media (min-width: 1100px){
   .navbar3 .navbar-left { width: 90%; }
}
@media (max-width: 450px){
  .navbar3 .search-box-outer .dropdown-menu { left: -100px; }
}
/*.index3 .logo-link-url { display: block;clear: both;  padding:3px 0px 5px }*/
.index3 .site-branding-text .site-title{margin:0;}
.index3 .site-branding-text .site-description { margin-bottom: 0;}
.index3 .site-branding-text .site-title .navbar-brand{padding: 1px 0px 4px;}

.navbar3 .header-module {float: right;}
.nav .open > a, .nav .open > a:hover {
    background-color: transparent;
    border-color: rgb(34, 161, 196,  0.5);
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
   border-color: rgb(34, 161, 196,  0.5);
}
.navbar.navbar3 .navbar-nav > li > a {
    padding: 25px 19px;
}
.navbar-header.index3 h2 .navbar-brand {
    padding: 0px 0px 20.5px 0px;
}
.site-description {margin: 0;}
/*Homepage Service Section Three--------------------------------------------------------------------------*/


/* Text meant only for screen readers. */
.screen-reader-text {
   clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    word-wrap: normal !important;
}

.no-js .some-element .screen-reader-text {
    position: static;
    -webkit-clip-path: none;
    clip-path: none;
    width: auto;
    height: auto;
    margin: 0;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}
.blog-list-view .media .clear {
    clear: unset;
}
@media (min-width: 768px) and (max-width: 991px){
.service-section.service3 .col-sm-6:nth-child(3) {
   clear: both; 
 }}